//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .hide-text();
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

select {
  font-size: 21px;
}
.input-xlarge {
  width: 100%;
}
.input-small {
  width: 20%;
}
.whitebg {
  background: white;
  padding: 30px;
  border: 1px solid #ddd;
  border-top: 1px solid transparent;
}

body, html {
  direction: rtl;
  background: #e2ead8;
  h2 {
    color: #060;
  }
}
.ltr { direction: ltr; }
.rtl { direction: rtl; }
.small { font-size: 80%; line-height: 22px;}
.large { font-size: 120%; line-height: 22px;}
footer {
  ul {
    list-style-type: none;
    clear:both;
    li {
      float:right;
      padding-left: 24px;
    }
  }
  color: white;
  a {
    color:white;
    &:hover {
      color:white;
    }
  }
  font-size: 16px;
  //#gradient > .vertical(rgba(224,224,224,0.8),rgba(255,255,255,0.4));
  background: #060;
  border-top: 12px solid @brand-success;
}
.contentwrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
footer, .push {
  height: 4em;
}

