- error = @city.errors.include?(:other_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :id, :class => 'control-label'
  .controls
    =f.text_field :other_id, :class => 'input-with-feedback', :autofocus => true

- error = @city.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'input-with-feedback', :autofocus => true

%label.control-label Locations
- @city.locations.order('updated_at DESC').each do |l|
  %fieldset.control-group{:class => error ? 'has-error' : ''}
  .controls
    %input.input-with-feedback{:id=>'location_'+l.id.to_s+'_name',:name=>'location['+l.id.to_s+'][name]',:value=>l.name,:type=>'text',:style=>'width:480px;'}
    %input.input-with-feedback{:id=>'location_'+l.id.to_s+'_other_id',:name=>'location['+l.id.to_s+'][other_id]',:value=>l.other_id,:type=>'text',:style=>'width:120px;',:placeholder=>l.id}
    %a.btn.btn-danger{:href=>'/deletelocation/'+l.id.to_s} DELETE

%fieldset.control-group{:class => error ? 'has-error' : ''}
.controls
  %input.input-with-feedback{:id=>'location_new',:name=>'location[new]',:value=>'',:type=>'text',:style=>'display:none;'}
  %a.btn.btn-success{:onclick=>'slideNew();'} NEW

:javascript
  function slideNew() {
    $("#location_new").slideDown();
  }

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:cities, :index), :class => 'btn btn-default'
