-# coding: utf-8
-content_for :outer do
  %img{:src=>'/images/donateTop.jpg',:style=>'width:100%',:alt=>'Greenpeace'}

%h2 מדיניות גרינפיס
%p גרינפיס אינו מקבל תמיכה כלכלית מממשלות, תאגידים, גופים מסחריים או חוגים פוליטיים, וזאת בכדי שנוכל לשמור על עצמאות, אובייקטיביות וחופש פעולה במאבקינו. הארגון נתמך אך ורק על- ידי פעילות של מתנדבים ותרומות מתומכים פרטיים. בדיוק כמוך!
%p משימתנו דורשת כמות עצומה של משאבים, אנושיים וכספיים כאחד, תמיכתך בנו תעזור להבטיח עולם ירוק ובריא יותר עבור כולנו.

-if current_account
  %p= "id:#{current_account.id}"
  -if current_account.role == 'admin'
    .ltr
      %h2 Hello Tomer!
      %p
        לניהול ערים
        %a{:href=>'/cities'} לחץ כאן
        ומיקומים
      %p
        %a{:href=>'/accounts'} לחץ כאן
        לניהול עובדים
      %p
        %a{:href=>'/supporters'} לחץ כאן
        לצפייה בתומכים
      %p
        %a{:href=>'/supporters/export'} לחץ כאן
        לייצוא תומכים
      %p
        חדש
        %a{:href=>'/new'} לחץ כאן
        להוספת תומך 


  -elsif current_account.role == 'coach'
    .ltr
      %h2= 'Hello '+current_account.name
      %p
        לניהול ערים
        %a{:href=>'/cities'} לחץ כאן
        ומיקומים
      %p
        %a{:href=>'/accounts'} לחץ כאן
        לניהול עובדים
      %p
        %a{:href=>'/supporters'} לחץ כאן
        לצפייה בתומכים
      %p
        חדש
        %a{:href=>'/new'} לחץ כאן
        להוספת תומך 
  -else
    %h2= 'Hello '+current_account.name
    %p
      חדש
      %a{:href=>'/new'} לחץ כאן
      להוספת תומך 
    %p
      %a{:href=>'/accounts'} לחץ כאן
      לניהול עובדים
