-# coding: utf-8
-content_for :header do
  =javascript_include_tag 'validate', 'maskedinput'
-content_for :outer do
  %img{:src=>'/images/donateTop.jpg',:style=>'width:100%',:alt=>'Greenpeace'}
  

%h2 טופס הצטרפות כחבר גרינפיס -
%p.large גרינפיס הוא ארגון ללא מטרות רווח המתבסס אך ורק על אנשים פרטיים - כמוך. תרומה לגרינפיס היא תרומה לעתיד ולאיכות החיים של כולנו.

-form_for :supporter, url(:create), :class => 'form-horizontal', :autocomplete => 'off' do |f|
  =partial 'form', :locals => { :f => f }

:javascript
  $.extend($.validator.messages, {
      required: "שדה חובה",
      email: "כתובת אימייל",
  });

  jQuery.extend(jQuery.validator.messages, {
    number: "נא להזין מספר תקף",
    minlength: jQuery.validator.format("נא להזין {0} תווים לפחות"),
  });
  $.validator.addMethod("ildate", function(value, element) { 
    var parts = value.split('/');
    if (parts[1] > 12) return false
    return new Date(parts[2],parts[1]-1,parts[0]);
  }, $.validator.format("תאריך יום הולדת מלא"));
  $.validator.addMethod('prefix', function(value, element, arg) {
    if (value != "--") { return true; } else return false
  }, $.validator.format(""))
  $.validator.addMethod('phone', function(value, element, arg) {
    value = value.replace(/\D/g,'');
    if (value.length == 7) { return true; } else return false
  }, $.validator.format("נא למלא מספר נייד בן 7 ספרות"))
  $.validator.addMethod('daterange', function(value, element, arg) {
       var startDate = new Date().getFullYear()-120,
           endDate = new Date().getFullYear()-18,
           enteredDate = value.split('/')[2]
       if (enteredDate < endDate && enteredDate > startDate ) { return true; } else return false
   }, $.validator.format("תאריך יום הולדת מלא"))
  $("form").validate({
     errorPlacement: function(error, element) {
       element.closest(".controls").after( error);
     },
     rules: {
       "supporter[first_name]": {
         "required": true,
         "minlength": 2},

       "supporter[last_name]": {
         "required": true,
         "minlength": 2},

       "supporter[birthday]": {
         "ildate": true,
         "daterange": true},

       "supporter[gender]": "required",

       "supporter[city]": {
         "required": true,
         "minlength": 2},

       "supporter[address]": {
         "required": true,
         "minlength": 2},

       "supporter[zip_code]": {
         "minlength": 5},

       "mobile_phone_prefix": {
         "prefix": true},

       "mobile_phone": {
         "required": true,
         "phone": true},

       "member_phone": {
         "phone": true},

       "supporter[email]": {
         "email": true,
         "required": true},

       "supporter[amount]": {
         "digits": true,
         "min": 55},

     }
   });
