<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
    <tbody><tr>
        <td valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                <tbody><tr>
                    <td valign="top" style="padding:9px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                            <tbody><tr>
                                <td valign="top" style="padding:0 9px">
                                    <table align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                        <tbody><tr>
                                            <td valign="top">
                                                <img alt="" src= "http://d2d.herokuapp.com/images/thanksbear.jpg" width="264" style="max-width:640px;border:0;outline:none;text-decoration:none;vertical-align:bottom">
                                            </td>
                                        </tr></tbody>
                                    </table>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="60%" style="border-collapse:collapse">
                                        <tbody><tr>
                                            <td valign="top" style="text-align:right;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;direction: rtl">
                                                שלום <%= sup.first_name %>,<br>
                                                <p>
                                                    אנו רוצים להודות לך מקרב לב על הצטרפותך לארגוננו.<br>
                                                    בימים הקרובים נצרף אותך גם לניוזלטר שלנו וכך נוכל לעדכן אותך באופן מתמשך בכל מה שאנחנו משיגים בזכותך.<br>
                                                </p>
                                                <p>
                                                    ניתן ליצור איתנו קשר בטלפון <a href="tel:072-2204510" value="+972722204510" target="_blank">072-2204510</a> או במייל <a href="mailto:gpmedisr@greenpeace.org" target="_blank">gpmedisr@greenpeace.org</a><br>
                                                </p>
                                                <p>
                                                    תודה,<br>
                                                    <%=sup.account.name if sup.account.present?%>
                                                </p>
                                            </td>
                                        </tr></tbody>
                                    </table>
                                </td>
                            </tr></tbody>
                        </table>
                    </td>
                </tr></tbody>
            </table>
        </td>
    </tr></tbody>
</table>