- error = @supporter.errors.include?(:uniqnum)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :uniqnum, :class => 'control-label'
  .controls
    =f.text_field :uniqnum, :class => 'input-xlarge input-with-feedback', :autofocus => true
- error = @supporter.errors.include?(:acquired)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :acquired, :class => 'control-label'
  .controls
    =f.text_field :acquired, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:account_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :account_id, :class => 'control-label'
  .controls
    =f.text_field :account_id, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:dd_city)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :dd_city, :class => 'control-label'
  .controls
    =f.text_field :dd_city, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:dd_location)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :dd_location, :class => 'control-label'
  .controls
    =f.text_field :dd_location, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:first_name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :first_name, :class => 'control-label'
  .controls
    =f.text_field :first_name, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:last_name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :last_name, :class => 'control-label'
  .controls
    =f.text_field :last_name, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:gender)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :gender, :class => 'control-label'
  .controls
    =f.text_field :gender, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:birthday)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :birthday, :class => 'control-label'
  .controls
    =f.text_field :birthday, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:occupation)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :occupation, :class => 'control-label'
  .controls
    =f.text_field :occupation, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:city)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :city, :class => 'control-label'
  .controls
    =f.text_field :city, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:street_name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :street_name, :class => 'control-label'
  .controls
    =f.text_field :street_name, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:num_building)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :num_building, :class => 'control-label'
  .controls
    =f.text_field :num_building, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:num_apartment)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :num_apartment, :class => 'control-label'
  .controls
    =f.text_field :num_apartment, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:zip_code)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :zip_code, :class => 'control-label'
  .controls
    =f.text_field :zip_code, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:home_phone)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :home_phone, :class => 'control-label'
  .controls
    =f.text_field :home_phone, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:mobile_phone)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :mobile_phone, :class => 'control-label'
  .controls
    =f.text_field :mobile_phone, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:email)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :email, :class => 'control-label'
  .controls
    =f.text_field :email, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:receive_updates)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :receive_updates, :class => 'control-label'
  .controls
    =f.check_box :receive_updates, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:existing)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :existing, :class => 'control-label'
  .controls
    =f.check_box :existing, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:ap_monthly)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :ap_monthly, :class => 'control-label'
  .controls
    =f.text_field :ap_monthly, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:ap_one_off)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :ap_one_off, :class => 'control-label'
  .controls
    =f.text_field :ap_one_off, :class => 'input-xlarge input-with-feedback'
- error = @supporter.errors.include?(:notes)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :notes, :class => 'control-label'
  .controls
    ~f.text_area :notes, :class => 'input-xlarge input-with-feedback'

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:supporters, :index), :class => 'btn'
